<div class="container">
  <p style="color: green"><%= notice %></p>
  <% if current_user_admin %>
    <div id="outer">
      <div class="inner"><%= link_to "Edit this user", edit_user_path(@user), class: "btn btn-primary" %></div>
      <div class="inner"><%= button_to "Destroy this user", @user, method: :delete, class: "btn btn-danger" %></div>
    </div>
  <% end %>

  <%= render @user %>

  <div>
    <%= link_to "Back to users", users_path %>
  </div>
</div>
