<div class="container">
  <main role="main">
  <%= link_to "Clear Cart", "#", class: "btn btn-danger", remote: true, onclick: "clearCart()" %>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
        <%= javascript_tag do %>
          var productsList = <%= @products.to_json.html_safe %>;
        <% end %>
        <% @products.each do |product| %>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <%= image_tag product.thumbnail.variant(:thumb), class: "card-img-top" %>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div id="outer">
                    <div class="inner"><%= product.title %></div>
                      <br>
                    <div class="inner">
                    <div id="my-div">
                      <%= link_to "+", "#", id: "my-button", class: "btn btn-primary", remote: true, onclick: "addProductCart(productsList, #{product.id})" %>
                      <%= link_to "-", "#", id: "my-button", class: "btn btn-danger", remote: true, onclick: "removeItemCart(#{product.id})" %>
                    </div>
                    </div>
                    <h1 class="counter-display" id="product-<%= product.id %>">0</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to "Confirm", "#", id: "my-button", class: "btn btn-success", remote: true, onclick: "sendProduct()" %>
        </div>
      </div>
    </div>
  </main>
</div>