<div class="container">
    <legend>Login page</legend>
    <%= form_with model: @user, url: user_sessions_path do |f| %>
    <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: "form-control", "aria-describedby": "emailHelp" %>
    </div>
    <div class="form-group">
        <%= f.label :password %><br>
        <%= f.password_field :password, class: "form-control", "aria-describedby": "emailHelp" %>
    </div>
    <br>
    <p>
        <%= f.submit 'Login', class: "btn btn-primary" %>
    </p>
    <br>
    <%= link_to "Create account", new_user_path  %>
    <% end %>
</div>