<!DOCTYPE html>
<html>
  <head>
    <title>Garage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'https://telegram.org/js/telegram-web-app.js' %>
  </head>

  <body>
    <div class="container-flouid">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
          <%= link_to "Products", products_path, class: "navbar-brand" %>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
