<!DOCTYPE html>
<html>
<head>
  <title>Dashboard App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'dashboard', 'data-turbolinks-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <div class="dashboard_container">
    <div class="left-menu">
      <ul>
        <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
                <%= link_to "Products", products_list_all_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
            <%= link_to "Users", users_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
            <%= link_to "Logout", logout_path, method: "delete", class: "nav-link active" %>
        </li>
      </ul>
    </div>
    <div class="main-content">
      <%= yield %>
    </div>
  </div>
</body>
</html>